.detail-container {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.detail-container .detail-image-section {
    width: 45%;
    height: 100%;
}

.detail-container .detail-image-section .detail-image {
    width: calc(100% - 100px);
    height: 70%;
    padding: 40px 50px 20px 50px;
    display: flex;
    align-items: center;
}

.detail-container .detail-image-section .detail-image .detail-img {
    width: 100%;
    max-height: 100%;
}

.detail-container .detail-image-section .detail-preview-images {
    width: calc(100% - 100px);
    height: 120px;
    display: flex;
    align-items: center;
    padding: 0 50px 0 50px;
    position: relative;
}

.detail-container .detail-image-section .detail-preview-images .prev-arrow {
    position: absolute;
    width: 50px;
    height: 120px;
    left: 0;
    text-align: center;
}

.detail-container .detail-image-section .detail-preview-images span {
    height: 120px;
    line-height: 120px;
    color: #222222;
}

.detail-container .detail-image-section .detail-preview-images .next-arrow {
    position: absolute;
    width: 50px;
    height: 120px;
    right: 0;
    text-align: center;
}

.detail-container .detail-image-section .detail-preview-images .preview-image-list {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.detail-container .detail-image-section .detail-preview-images .preview-image-list li {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: coral;
    margin-right: 10px;
    overflow: hidden;
}

.detail-container .detail-image-section .detail-preview-images li img {
    width: 100%;
    height: 100%;
}

.detail-container .detail-product-section {
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
}

.detail-container .detail-product-section {
    padding-left: 30px;
}

.detail-container .detail-product-section .detail-title {
    font-size: 33px;
    color: #4a4a4a;
    font-weight: 500;
}

.detail-container .detail-product-section .detail-category {
    margin-top: -3px;
    font-size: 15px;
    color: #969696;
    font-weight: 400;
    cursor: pointer;
}

.detail-container .detail-product-section .detail-time {
    padding-top: 36px;
    font-size: 16px;
    color: #4a4a4a;
}

.detail-container .detail-product-section .detail-time .ongoing {
    color: darkred;
}

.detail-container .detail-product-section .detail-price {
    display: flex;
    align-items: center;
    height: 50px;
    padding-top: 10px;
    color: #4a4a4a;
    letter-spacing: -2px;
}

.detail-container .detail-product-section .detail-price .success-price-text {
    display: none;
}

.detail-container .detail-product-section .detail-price .current-price-text {
    display: none;
}

.detail-container .detail-product-section .detail-enroll-person {
    color: grey;
    font-size: 13px;
    letter-spacing: -1px;
    margin-top: 10px;
}

.detail-container .detail-product-section .detail-price .now-status {
    display: block !important;
}

.detail-container .detail-product-section .detail-price .current-price {
    font-size: 55px;
    color: #4a4a4a;
    font-weight: 500;
    padding-left: 10px;
}

.detail-container .detail-product-section .detail-price-input {
    padding-top: 26px;
    display: flex;
}

.detail-container .detail-product-section .detail-price-input .price-input {
    width: 300px;
    height: 38px;
    border: solid 1px #4a4a4a;
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-size: 16px;
    color: #2e2e2e;
    font-weight: 300;
    box-shadow: 0 0 1px 0px #4a4a4a inset, 0 0 1px 0px #4a4a4a;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.price-input:focus {
    border: solid 1px #2fce98;
}

.detail-container .detail-product-section .detail-price-input #price-submit {
    display: block;
    margin-left: 8px;
}

.detail-container .detail-product-section .detail-price-input #price-submit .price-submit-deco {
    display: block;
    width: 80px;
    height: 42px;
    line-height: 42px;
    border: none;
    background-color: #4a4a4a;
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
    letter-spacing: -0.5px;
    cursor: pointer;


    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.price-submit:hover {
    background-color: #2fce98;
}

.detail-container .detail-product-section .detail-price-input .price-input {
    width: 300px;
    height: 38px;
    border: solid 1px #4a4a4a;
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-size: 16px;
    color: #2e2e2e;
    font-weight: 300;
    box-shadow: 0 0 1px 0px #4a4a4a inset, 0 0 1px 0px #4a4a4a;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.detail-container .detail-product-section .detail-bid-success {
    font-size: 15px;
    color: #2fce98;
    padding-top: 5px;
    display: none;
}

.detail-container .detail-product-section .detail-bid-fail {
    font-size: 15px;
    color: red;
    padding-top: 5px;
    display: none;
}

.detail-container .detail-product-section .bid-status {
    display: block !important;
}

.detail-container .detail-product-section .detail-description {
    padding-top: 35px;
    width: 85%;
    font-size: 13px;
    color: #4a4a4a;
}

.bid-history-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}

.bid-history-container .bid-history-text {
    font-size: 37px;
    color: #4a4a4a;
    font-weight: 500;
}

.bid-history-container .bid-history-table {
    margin-top: 15px;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;

    border-collapse: collapse;
    width: 45%;
}

.bid-history-container .bid-history-table th,
td {
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;
    padding: 10px;
    text-align: center;
}

.bid-history-container .bid-history-table tr:nth-child(1) {
    font-weight: bold;
}

.auction-type {
    /*display: block;*/
    padding: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #969696;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
    color: white;
}

.auction-status {
    /*display: block;*/
    padding: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
    color: white;
}
.status-ongoing{
    background-color: #2fce98;
}
.status-close{
    background-color: darkred;
}