.register-container {
    width: 100%;
    height: 600px;
    margin:0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.register-container .detail-image-section{
    width: 45%;
    height: 100%;
}

.register-container .detail-image-section .detail-image{
    width: calc(100% - 100px);
    height: 70%;
    padding: 40px 50px 20px 50px;
    display: flex;
    align-items: center;
}

.register-container .detail-image-section .detail-image .detail-img {
    width: 100%;
    max-height: 100%;
}

.register-container .detail-image-section .detail-preview-images{
    width: calc(100% - 100px);
    height: 120px;
    display: flex;
    align-items: center;
    padding: 0 50px 0 50px;
    position: relative;
}

.register-container .detail-image-section .detail-preview-images .prev-arrow{
    position: absolute;
    width: 50px;
    height: 120px;
    left: 0;
    text-align: center;
}
.register-container .detail-image-section .detail-preview-images span{
    height: 120px;
    line-height: 120px;
    color: #222222;
}
.register-container .detail-image-section .detail-preview-images .next-arrow{
    position: absolute;
    width: 50px;
    height: 120px;
    right: 0;
    text-align: center;
}

.register-container .detail-image-section .detail-preview-images .preview-image-list{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.register-container .detail-image-section .detail-preview-images .preview-image-list li{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: coral;
    margin-right: 10px;
    overflow: hidden;
}

.register-container .detail-image-section .detail-preview-images li img{
    width: 100%;
    height: 100%;
}

.register-container .detail-product-section{
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    padding-left: 30px;
}

.register-container input{
    width: 300px;
    height: 35px;
    border: solid 1px #4a4a4a;
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-size: 16px;
    color: #2e2e2e;
    font-weight: 300;
    box-shadow: 0 0 1px 0px #4a4a4a inset, 0 0 1px 0px #4a4a4a;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.register-container input[type=text]:focus {
    border: solid 1px #2fce98;
}

.register-container .detail-product-section .detail-title {
    font-size: 28px;
    color: #4a4a4a;
    font-weight: 500;

    display: flex;
    align-items: center;
}

.register-container .detail-product-section .detail-title input{
    width: 250px;
}

.register-container .detail-product-section .detail-category {
    width: 100%;

}

.register-container .detail-product-section .detail-category .category-list{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap : wrap;
}
.register-container .detail-product-section .detail-category .category-list li{
    margin-top: 10px;
}

.register-container .detail-product-section .detail-category .category-list .category{
    /*display: block;*/
    padding: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #969696;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
    color: white;
}

.register-container .detail-product-section .detail-category .category-list .category:hover{
    background-color: #2fce98;
}

.register-container .detail-product-section .detail-time {
    padding-top: 36px;
    font-size: 16px;
    color: #4a4a4a;
    font-weight: 500;
}

.register-container .detail-product-section .detail-time i{
    font-size: 20px;
    font-weight: 600;
}

.register-container .detail-product-section .detail-time div{
    margin-top: 8px;
}

.register-container .detail-product-section .detail-time input[type=datetime-local] {
    margin-left: 15px;
    width: 280px;
    text-align: center;
}

.register-container .detail-product-section .detail-price {
    display: flex;
    align-items: center;
    height: 50px;
    padding-top: 10px;
    color: #4a4a4a;
    letter-spacing: -1px;
    font-weight: 500;
}

.register-container .detail-product-section .detail-price input{
    width: 180px;
}

.register-container .detail-product-section .detail-description {
    padding-top: 35px;
    width: 85%;
    font-size: 16px;
    color: #4a4a4a;
    letter-spacing: -1px;
    font-weight: 500;
}

.register-container .detail-product-section .detail-description textarea{
    margin-top: 10px;
    resize: none;
    width: 100%;
    height: 150px;
    font-size: 15px;
    color: #4a4a4a;

}

.register-container .detail-product-section .detail-description textarea:focus{
    outline: none !important;
}
